.Navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 15px 0px #161f255e;
  margin-bottom: 3em;
}

.Navbar-title h1 {
  margin: 0px;
  font-size: 25px;
}
