.container {
  padding: 20px 50px;
}

.App {
  background-color: white;
  color: #333333;
  transition: all 0.5s ease-in-out;
  background-color: #fafafa;
}

.App.dark {
  background-color: #202d36;
  color: white;
}
